/* Universal selector to set default font */

* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* all body tags have background color */
body {
  background-color: lemonchiffon;
}

/* styles header and footer */
header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* bold text for contact info */
.highlighted-text {
  font-weight: bolder;
}

/* give contact section a background color */
#contact-section {
  background-color: #f0ead6;
}
