section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 20px 15px 10px 10px;
  padding: 20px;
  border: 10px solid navy;
}

