.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  background: blue;
  color: orange;
}
  
.container {
  background: black;
  color: white;
}

#section-1 {
  color: yellow;
  background: purple;
}

#section-6 {
  color: yellow;
}
